<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Learning App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <ul class="navbar">
        <li>
            <div id="modeSelector" class="selector">
                <label for="mode">Mode:</label>
                <select id="mode">
                    <option value="insert" selected>Insert word</option>
                    <option value="translate">Translate</option>
                    <option value="conjugate">Conjugate</option>
                </select>
            </div>
        </li>
        <li>
            <div id="languageSelector" class="selector">
                <label for="language">Language:</label>
                <select id="language">
                    <option value="en-sp" selected>EN-SP</option>
                    <option value="sp-en">SP-EN</option>
                    <option value="ru-en">RU-EN</option>
                    <option value="en-ru">EN-RU</option>
                </select>
            </div>
        </li>
        <li>
            <div id="languageSelector" class="selector">
                <button id="add-new-item">Add new</button>
            </div>
        </li>
        <li style="margin-left: auto;">
            <div class="selector">
                <span id="userLogin" class="hidden"></span>
                <button id="login-form-btn">Log in</button>
            </div>
        </li>
    </ul>

    <!-- Modal for login -->
    <div id="loginModal" class="modal hidden">
        <div class="modal-content">
            <span class="close-login-form">&times;</span>
            <h2>Login</h2>
            <form id="loginForm">
                <input type="text" id="username" placeholder="Username" autocomplete="username" required><br>
                <input type="password" id="password" placeholder="Password" autocomplete="current-password" required><br>
                <button type="button" id="submit-log-in-btn">Log in</button>
                <button type="button" id="submit-register-btn">Register</button>
            </form>
        </div>
    </div>

    <div class="card">
        <span class="sentence"></span>
        <input type="text" id="userInput" placeholder="Your guess here">
        <button id="submitBtn">Submit</button>
        <div id="message"></div>
        <div class="counter">
            <span>Total Words: <span id="totalWords">0</span></span><br>
            <span>Correct Answers: <span id="correctCount">0</span></span><br>
            <span>Incorrect Answers: <span id="incorrectCount">0</span></span>
        </div>
    </div>
    <!-- <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='login.js') }}"></script> -->
    <script type="module" src="static/main.js"></script>
</body>
</html>
