.keyboard {
    all: none;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
    width: auto;
    background: #e0e0e0;
    /* background: rgb(81, 104, 104); */
    border-radius: 1rem;
}

.kb-row button {
    height: 100%;
}

.kb-row {
    display: flex;
    margin-top: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.kb-row-first {
    margin-top: 0;
}

.kb-row-last {
    width: 100%;
}

.kb-button {
    display: inline-block;
    padding: 12px 18px;
    font-size: 18px;
    color: #fff;
    background-color: rgb(101, 124, 124);
    border: none;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;
}

.kb-button:hover {background-color: rgb(61, 84, 84);}

.kb-button:active {background-color: rgb(71, 94, 94);}

.kb-control {
    box-shadow: 0px 0px 0px 3px #208020 inset;
}

.kb-space {
    flex-grow: 1;
    height: 100%;
    color: rgb(101, 124, 124);
}

.kb-space:hover {color: rgb(61, 84, 84);}

.kb-space:active {color: rgb(71, 94, 94);}

.drag-kb-button {
    display: inline-block;
    padding: 12px;
    font-size: 18px;
    color: #fff;
    background-color: rgb(101, 124, 124);
    border: none;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;
}

.drag-kb-button:hover {background-color: rgb(101, 124, 124);}

.drag-kb-button:active {background-color: rgb(101, 124, 124);}