body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

select {
    margin-left: 10px;
    padding: 5px;
}

.card {
    width: 300px;
    height: auto;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #555;
    padding: 20px;
}

.hidden {
    display: none;
}

.red {
    color: red;
}

.gray {
    color: gray;
}

input {
    margin-top: 10px;
    padding: 5px;
    width: 80%;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.hidden {
    display: none;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
}

.selector {
    padding: 10px 20px 10px 20px;
}

.close-login-form {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #337733;
}